you want pickup up or delivery
<br>

<form method="post" action="pick">
<input type = "radio" name = "delivery" value="house" required> Delivery<br>
<input type = "radio" name = "delivery" required>pick up<br>
<input type="submit" name="enter">
</form>