What would you like?

<form method="post" action="placeorder">
size<br>
	<input type = "radio" name = "size" value = "featherwieght" checked> featherwieght<br>
	<input type = "radio" name = "size" value = "welterwieght"> welterwieght<br>
	<input type = "radio" name = "size" value = "lightheavyweight"> lightheavyweight<br>
	<input type = "radio" name = "size" value = "heavyweight"> heavyweight<br>
crust type<br>
	<input type = "radio" name = "crust" value = "notstuffed" checked> notstuffed<br>
	<input type = "radio" name = "crust" value = "stuffed"> stuffed<br>
sauce<br>
	<input type = "checkbox" name = "suace[]" value = "regular"> regular<br>
	<input type = "checkbox" name = "suace[]" value = "bbq"> bbq<br>
	<input type = "checkbox" name = "suace[]" value = "ranch"> ranch<br>
meats<br>
	<input type = "checkbox" name = "meats[]" value = "peperoni"> peperoni<br>
	<input type = "checkbox" name = "meats[]" value = "suasage"> suasage<br>
	<input type = "checkbox" name = "meats[]" value = "chicken"> chicken<br>
	<input type = "checkbox" name = "meats[]" value = "bacon"> bacon<br>
	<input type = "checkbox" name = "meats[]" value = "ham"> ham<br>
	<input type = "checkbox" name = "meats[]" value = "all the meats"> all the meats<br>
veggies<br>
	<input type = "checkbox" name = "veggies[]" value = "shrooms"> <shrooms<br>
	<input type = "checkbox" name = "veggies[]" value = "hot peppers"> hot peppers<br>
	<input type = "checkbox" name = "veggies[]" value = "really hot peppers"> like really hot peppers<br>
	<input type = "checkbox" name = "veggies[]" value = "onions"> onions<br>
	<input type = "checkbox" name = "veggies[]" value = "pineapple"> pineapple YES we know its a fruit<br>
cheese<br>
	<input type = "checkbox" name = "cheese[]" value = "normal"> normal<br>
	<input type = "checkbox" name = "cheese[]" value = "lotsOcheese"> lotsOcheese<br>
</form>