<!-- <bdo dir="rtl"> -->What would you like?

<form method="post" action="placeorder">
size<br>
	<input type = "radio" name = "size" value = "featherwieght" checked> featherwieght<br>
	<input type = "radio" name = "size" value = "welterwieght"> welterwieght<br>
	<input type = "radio" name = "size" value = "lightheavyweight"> lightheavyweight<br>
	<input type = "radio" name = "size" value = "heavyweight"> heavyweight<br>
crust type<br>
	<input type = "radio" name = "crust" value = "notstuffed" checked> notstuffed<br>
	<input type = "radio" name = "crust" value = "stuffed"> stuffed<br>
sauce<br>
	<input type = "radio" name = "suace" value = "regular" checked> regular<br>
	<input type = "radio" name = "suace" value = "bbq"> bbq<br>
	<input type = "radio" name = "suace" value = "ranch"> ranch<br>
meats<br>
<div id = "meats">
<img src = "/image/pepperoni.jpg"  width="42" height="42">
<input type = "checkbox" name = "meats[]" value = "pepperoni"> pepperoni<br>
</div>
<div id = "meats">
<img src = "/image/suasage.jpg"  width="42" height="42">
<input type = "checkbox" name = "meats[]" value = "suasage"> suasage<br>
</div>	
<div id = "meats">
<img src = "/image/chicken.jpg"  width="42" height="42">
<input type = "checkbox" name = "meats[]" value = "chicken"> chicken<br>
</div>		
<div id = "meats">
<img src = "/image/bacon.jpg"  width="42" height="42">
<input type = "checkbox" name = "meats[]" value = "bacon"> bacon<br>
</div>		
<div id = "meats">
<img src = "/image/ham.jpg"  width="42" height="42">
<input type = "checkbox" name = "meats[]" value = "ham"> ham<br>
</div>	
<div id = "meats">
<img src = "/image/megameat.jpg"  width="42" height="42">
<input type = "checkbox" name = "meats[]" value = "megameat"> megameat<br>
</div>	
	
veggies<br>
<div id = "toppings">
<img src = "/image/mushrooms.jpg"  width="42" height="42">
<input type = "checkbox" name = "veggies[]" value = "mushrooms"> mushroom<br>
</div>
<div id = "toppings">
<img src = "/image/hotpeppers.jpg"  width="42" height="42">
<input type = "checkbox" name = "veggies[]" value = "hotpeppers"> peppers<br>
</div>
<div id = "toppings">
<img src = "/image/super.jpg"  width="42" height="42">
<input type = "checkbox" name = "veggies[]" value = "super"> super hot peppers<br>
</div>
<div id = "toppings">
<img src = "/image/onion.jpg"  width="42" height="42">
<input type = "checkbox" name = "veggies[]" value = "onion"> onions<br>
</div>	
<div id = "toppings">
<img src = "/image/pineapple.jpg"  width="42" height="42">
<input type = "checkbox" name = "veggies[]" value = "pineapple"> pineapple YES we know its a fruit<br>
</div>	
cheese<br>
	<input type = "radio" name = "cheese" value = "normal" checked> normal<br>
	<input type = "radio" name = "cheese" value = "lotsOcheese"> lotsOcheese<br>
	<input type= "submit" value="enter">
</form><!-- </bdo> -->